<%# Title %>
<% if(title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>
<%# Message %>
<%- message %>
<%# Body %>

<div class="update-inventory">
    <form action="/inv/update" method="post" id="update-inventoryForm" class="login">
        <div class="form-group">
            <label for="inv_make" class="form-label">Make Name</label>
            <input type="text" name="inv_make" id="inv_make" class="form-input" placeholder="<%=locals.inv_make %>" required>
        </div>
        <div class="form-group">
            <label for="inv_model" class="form-label">Model Name</label>
            <input type="text" name="inv_model" id="inv_model" class="form-input" placeholder="<%=locals.inv_model %>" required>
        </div>
        <div class="form-group">
            <label for="inv_year" class="form-label">Year</label>
            <input type="text" name="inv_year" id="inv_year" class="form-input" placeholder="<%=locals.inv_year %>" required>
        </div>
        <div class="form-group">
            <label for="inv_description" class="form-label">Description</label>
            <input type="text" name="inv_description" id="inv_description" class="form-input" placeholder="<%=locals.inv_description %>" required>
        </div>
        <div class="form-group">
            <label for="inv_image" class="form-label">Image</label>
            <input type="text" name="inv_image" id="inv_image" class="form-input" placeholder="<%=locals.inv_image %>" required>
        </div>
        <div class="form-group">
            <label for="inv_thumbnail" class="form-label">Thumbnail</label>
            <input type="text" name="inv_thumbnail" id="inv_thumbnail" class="form-input" placeholder="<%=locals.inv_thumbnail %>" required>
        </div>
        <div class="form-group">
            <label for="inv_price" class="form-label">Price</label>
            <input type="text" name="inv_price" id="inv_price" class="form-input" placeholder="<%=locals.inv_price %>" required>
        </div>
        <div class="form-group">
            <label for="inv_miles" class="form-label">Miles</label>
            <input type="text" name="inv_miles" id="inv_miles" class="form-input" placeholder="<%=locals.inv_miles %>" required>
        </div>
        <div class="form-group">
            <label for="inv_color" class="form-label">Color</label>
            <input type="text" name="inv_color" id="inv_color" class="form-input" placeholder="<%=locals.inv_color %>" required>
        </div>
        <div class="form-group">
            <%- classification %>
        </div>
        <button type="submit" class="login-button" id="addClassification">Update Inventory</button>
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { 
            %> value="<%= locals.inv_id %>"
        <% } %>>
    </form>
</div>